@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <label>Duration <input type="number" value="1" /></label>
        <button type="submit" value="enable">Enable Logging</button>
        </form>
    <form method="post">
        <button type="submit" value="enable">Disable Logging</button>
    </form>
</div>
