@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is hoststed by you.</p>
<p>This is a developer / admin tool.</p>
<p>This application logs Bearer Tokens - you are responsible that only your own tokens are shown.</p>
